p,
h1,
h2,
h3,
h4 {
  font-family: Helvetica;
}

.category {
  background: rgba(255, 255, 255, 0.966);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  min-height: 75px;
  background-color: "white";
}

.asset {
  background: rgba(196, 196, 196, 0.2);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  min-height: 75px;
}

.addCategory {
  background: rgba(255, 255, 255, 0.966);

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  min-height: 75px;
}

.card {
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.navigationBar {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.OnboardingBubble {
  border-radius: 49px 65px 65px 0px;
  background-color: #c5cde2;
  justify-content: space-evenly;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 324px;
  font-size: 14px;
  flex: 1;
  height: 100%;
  vertical-align: middle;
  -o-text-overflow: clip;
  text-overflow: clip;
  padding-top: 15px;
  padding-left: 10px;
  padding-right:10px;
}

.button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);

  cursor: pointer;
  color: black;
  border: 0;
  background-color: #7d8281;
  border-radius: 50px;
}

.blurBackground {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
}
